@model AppointmentVM

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form method="post" asp-action="Create" class="row">
			<input asp-for="ServiceId" value="" type="hidden" />
			<input asp-for="EmployeeId" value="" type="hidden" />
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Rezerwacja wizyty</h5>
					<button type="button" id="modal-close-btn" data-dismiss="modal" data-target="#exampleModal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body p-1 p-md-2">
					<div class="d-flex gap-2 p-2">
						@foreach (var employee in ViewBag.Employees)
						{

							<a data-employee-id="@employee.Id" class="d-flex flex-column employee align-items-center gap-2 text-decoration-none text-dark" role="button" style="max-width:60px;">
								<div class="position-relative ">
									<img src="/images/fryzjer1.jpg" class="img-fluid rounded-circle" style="height:60px!important;" alt="" />
									<div class="image-overlay"></div>
								</div>
								<span class="text-center" style="">@employee.FirstName</span>
							</a>
						}
					</div>
					<div class="d-flex flex-column">
						<div class="container p-1 sm-p-4">
							<header class="d-flex justify-content-between align-items-center bg-dark rounded text-white p-2">
								<p class="month-year-header m-0"></p>
								<div class="icons">
									<span id="prev" class="material-symbols-rounded icon"><</span>
									<span id="next" class="material-symbols-rounded icon">></span>
								</div>
							</header>
							<div class="calendar d-flex flex-column align-center p-0">
								<ul class="row w-100 p-0 font-weight-bold">
									<li class="col">Pn</li>
									<li class="col">Wt</li>
									<li class="col">Śr</li>
									<li class="col">Czw</li>
									<li class="col">Pt</li>
									<li class="col">Sob</li>
									<li class="col">Nd</li>
								</ul>
								<div class="weeks row w-100">
									@* => generated days *@
								</div>
								<input asp-for="Date" value="" type="hidden" required/>
								<span asp-validation-for="Date" class="text-danger"></span>
							</div>
						</div>
						<div class="container horizontal-scrollable">
							<div class="hours row">
								@* => generated hours *@
							</div>
						</div>
						<div class="mt-1">
							<input asp-for="CustomerFirstName" placeholder="Imie" value="" type="text" class="form-control">
							<span asp-validation-for="CustomerFirstName" class="text-danger"></span>
						</div>
						<div class="mt-1">
							<input asp-for="CustomerEmail" placeholder="Adres e-mail" value="" type="text" class="form-control">
							<span asp-validation-for="CustomerEmail" class="text-danger"></span>
						</div>
						<div class="mt-1">
							<input asp-for="CustomerPhoneNumber" placeholder="Numer telefonu" value="" type="text" class="form-control">
							<span asp-validation-for="CustomerPhoneNumber" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="modal-footer justify-content-center">
					<div class="col-8">
						<button type="submit" class="btn btn-primary form-control">Zatwierdź</button>
					</div>
				</div>
			</div>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		</form>
	</div>
</div>