@{
    ViewData["Title"] = "Home Page";
}

<section className="" style="
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url('https://studioestillo.pl/assets/img/bg-masthead.jpg ');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;">
    <div class="container text-white-75">
        <h1 class="font-labella mb-4" style="font-size:3rem">Salon <span class="font-gold">La</span>Bella</h1>
        <div>
            <div style="max-width: 500px">
                <p>Salon Fryzjerski La Bella powstał w 2011 r.</p>
                <p>Jesteśmy salonem świadczącym najwyższej jakości usługi fryzjerskie stosując jednocześnie najwyższej klasy nowości technologiczne i produkty najlepszej jakości.</p>
                <p>Oferujemy pełen zakres usług. Nasze motto to: Rzeczy niemożliwe robimy od reki na cuda trzeba chwile poczekać.</p>
                <br />
				<button class="btn btn-primary" style="">Rejestracja Online</button>
            </div>
        </div>
    </div>
</section>
<section class="w-100 pt-5 p-5 text-white-75" style="background-color:#000000; margin-top:-1px;">
	<div class="container" style="max-width:1000px;">
        <h2 class="font-gold text-center mb-5 p-2" style="border-bottom: 1px solid rgba(255, 255, 255, 0.75);">
        Dlaczego warto nas wybrać?
    </h2>
    <div class="d-flex flex-column">
        <div class="pt-2">
            <div class="d-flex flex-row align-items-center">
                <i style="font-size:2rem;" class="bi bi-trophy px-2"></i>
                <h4 class="font-gold ml-2">PONAD 12 LAT DOŚWIADCZENIA</h4 class=>
            </div>
            <p>Stosujemy produkty profesjonalne,wyselekcjonowane pod względem jakości, oraz takich które sa przyjazne dla naszego zdd-flexia.Pracujemy na produktach marek Togethair,Be Color,Estel,Framesi.Ten przytulny salon w którym pracujemy czyli nasz zespół 4-osobowy jest efektem naszej pasji do fryzjerstwa i ludzi .Najwazniejsze jest zadowolenie klienta i poczucie komfortu.</p>
        </div>
         <div class="pt-2">
            <div class="d-flex flex-row align-items-center">
                <i style="font-size:2rem;" class="bi bi-scissors px-2"></i>
                <h4 class="font-gold ml-2">ZAUFANIE</h4 class=>
            </div>
            <p>Przez ostatnie lata zaufało nam setki klientów. I ty możesz do nich dołączyć już dziś! Skontaktuj się z nami i wybierz dogodny termin.</p>
        </div>
         <div class="pt-2">
            <div class="d-flex flex-row align-items-center">
                <i style="font-size:2rem;" class="bi bi-book px-2"></i>
                <h4 class="font-gold ml-2">WIEDZA</h4 class=>
            </div>
            <p>Ciągły rozwój jest dla nas bardzo ważny dlatego uczesticzymy w licznych szkoleniach, zdobywamy wiedzę, śledzimy najnowsze trendy.</p>
        </div>
         <div class="pt-2">
            <div class="d-flex flex-row align-items-center">
                <i style="font-size:2rem;" class="bi bi-piggy-bank px-2"></i>
                <h4 class="font-gold ml-2">NISKIE CENY</h4 class=>
            </div>
            <p>Oferujemy m.in. koloryzacje kreatywne, awangardowe, flamboyage, sombre, ombre ART HAT, refleksy, strzyżenie damskie, meskie, dziecięce, fryzury okolicznosciowe i ślubne, zabiegi pielęgnacyjne na włosy, sauna.</p>
        </div>
    </div>
    </div>
</section>
<section class="w-100" style="background-color:#000000;">
        <div class="w-100" style="background:linear-gradient(to bottom, rgba(255,255,255,0), rgba(255, 255, 255, 0.15) 90%, rgba(255, 255, 255, 1) 100%);">
            <div class="d-flex justify-content-center container"><img class="w-75" style="max-width:1200px;" src="~/images/Home/bg-bottom.png" alt="" /></div>
        </div>
</section>