@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Lavishly+Yours&family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "_variables.scss";

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: $font-family-sans-serif;
    margin-bottom: 0 !important;
}

.flex-1 {
    flex: 1;
}

a {
    cursor: pointer;
}

.btn-subtle {
    color: black;
    border: 1px solid lightgray;
    padding: .375rem .75rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: rgb(204, 204, 204)
    }

    &:active {
        background-color: rgb(190, 190, 190)
    }
}

.small-font-size {
    font-size: .875em;
}

.bg-light-primary {
    background-color: $bg_primary;
}

.bg-register-custom {
    background-image: url('/images/register.jpg');
    background-color: rgba(30, 28, 0, 0.65);
    overflow: hidden;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    position: relative;
}

.font-open-sans {
    font-family: "Open Sans", serif;
}

/*Navbar*/
.navbar-light .navbar-nav .nav-link:hover {
    color: gold !important;
    cursor: pointer;
}

.nav-link:hover {
    color: gold !important;
    cursor: pointer;
}

.header-1 {
    font-size: 1.1rem;
}

.text-gray {
    opacity: 0.75 !important;
}

.header-2 {
    font-size: 0.9rem;
}

.font-aboreto {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
}

.font-labella {
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
}

.font-gold {
    color: $special-font-color;
}

.link-primary {
    color: black;
    cursor: pointer;
}

.text-white-75 {
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, 0.75) !important;
}
/*.image-overlay {
    &.hidden {
        display: none!important;
        visibility:hidden;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: linear-gradient(180deg, rgb(233, 189, 18, 0.5), rgb(239, 221, 15, 0.2));
        z-index: 1;
    }
}*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}