@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Lavishly+Yours&family=League+Spartan&display=swap');
@import "_variables.scss";

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: $font-family-sans-serif;
    margin-bottom: 0 !important;
}
.flex-1 {
    flex:1;
}
a {
    cursor: pointer;
}

.bg-light-primary {
    background-color: $bg_primary;
}

.bg-register-custom {
    background-image: url('/images/register.jpg');
    background-color: rgba(30, 28, 0, 0.65);
    overflow:hidden;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    position: relative;
}

/*Navbar*/
.navbar-light .navbar-nav .nav-link:hover {
    color: gold!important;
    cursor: pointer;
}

.nav-link:hover {
    color: gold !important;
    cursor: pointer;
}


.font-aboreto{
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
}
.font-labella {
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
}

.font-gold {
    color: $special-font-color;
}

.link-primary{
    color: black;
    cursor:pointer;
}

.text-white-75 {
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, 0.75) !important;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}




