@{
    ViewData["Title"] = "Home Page";
}
@*style="height:35vh;background:linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url(../../wwwroot/assets/bg-masthead.jpg);*@
<section className="" style="
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 10rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url('https://studioestillo.pl/assets/img/bg-masthead.jpg ');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;">

    <div class="container text-white-75">
        <h1 class="font-labella mb-2" style="font-size:3rem">Salon <span>La</span>Bella</h1>
        <div>
            <div style="max-width: 500px">
                <p>Salon Fryzjerski La Bella powstał w 2011 r.</p>
                <br />
                <p>Jesteśmy salonem świadczącym najwyższej jakości usługi fryzjerskie stosując jednocześnie najwyższej klasy nowości technologiczne i produkty najlepszej jakości.</p>
                <p>Oferujemy pełen zakres usług. Nasze motto to: Rzeczy niemożliwe robimy od reki na cuda trzeba chwile poczekać.</p>
                <br />
                <br /><br />
				<button class="btn btn-primary" style="">Rejestracja Online</button>
            </div>
        </div>
    </div>
</section>
<section class="container pt-5" style="background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);">
    <h2>Dlaczego warto nas wybrać?</h2>
    <div className={styles.section2_flex_container}>
        <div className={styles.section2_flex_item}>
            <div className={styles.section2_headers}>
                <i style={{fontSize: "32px" }} className="fi fi-rs-trophy"></i>
                <h4>PONAD 12 LAT DOŚWIADCZENIA</h4>
            </div>
            <p>Stosujemy produkty profesjonalne,wyselekcjonowane pod względem jakości, oraz takich które sa przyjazne dla naszego zdrowia.Pracujemy na produktach marek Togethair,Be Color,Estel,Framesi.Ten przytulny salon w którym pracujemy czyli nasz zespół 4-osobowy jest efektem naszej pasji do fryzjerstwa i ludzi .Najwazniejsze jest zadowolenie klienta i poczucie komfortu.</p>
        </div>
        <div className={styles.section2_flex_item}>
            <div className={styles.section2_headers}>
                <i style={{fontSize: "32px" }} className="fi fi-ss-barber-shop"></i>
                <h4>ZAUFANIE</h4>
            </div>
            <p>Przez ostatnie lata zaufało nam setki klientów. I ty możesz do nich dołączyć już dziś! Skontaktuj się z nami i wybierz dogodny termin.</p>
        </div>
        <div className={styles.section2_flex_item}>
            <div className={styles.section2_headers}>
                <i style={{fontSize: "32px" }} className="fi fi-rs-book-bookmark"></i>
                <h4>WIEDZA</h4>
            </div>
            <p>Ciągły rozwój jest dla nas bardzo ważny dlatego uczesticzymy w licznych szkoleniach, zdobywamy wiedzę, śledzimy najnowsze trendy.</p>
        </div>
        <div className={styles.section2_flex_item}>
            <div className={styles.section2_headers}>
                <i style={{fontSize: "32px" }} className="fi fi-tr-coins"></i>
                <h4>NISKIE CENY</h4>
            </div>
            <p>Oferujemy m.in. koloryzacje kreatywne, awangardowe, flamboyage, sombre, ombre ART HAT, refleksy, strzyżenie damskie, meskie, dziecięce, fryzury okolicznosciowe i ślubne, zabiegi pielęgnacyjne na włosy, sauna.</p>
        </div>
</section>
<div>
    <div className={styles.wrapper}>
        <section className={styles.section2}>
            
            </div>
        </section>
        <section className={styles.section3}>
            <h2>Nasze portfolio</h2>
            <div className={styles.section3_flex_container}>
                <img src={section3_img1} layout="responsive" alt="pixabay.com" />
                <img src={section3_img2} layout="responsive" alt="pixabay.com" />
                <img src={section3_img3} layout="responsive" alt="pixabay.com" />
                <img src={section3_img4} layout="responsive" alt="pixabay.com" />
            </div>
            <div className={styles.section3_gallery_info}>
                <h2>Chcesz zobaczyć więcej? Kliknij tutaj:</h2>
                <Link href="/gallery"><button onClick={() =>{}}>Galeria</button></Link>
            </div>
        </section>
    </div>
</div>