.justify-between-important {
  justify-content: space-between !important;
}

.sidebar-custom {
  z-index: 1030;
  position: fixed;
  top: 0;
  left: -280px;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sidebar-custom.responsive-active {
  left: 0px;
}
@media (min-width: 991.98px) {
  .sidebar-custom {
    left: 0px;
  }
}
.sidebar-custom .sidebar-toggle-btn {
  position: absolute;
  left: 280px;
  border: none;
  background-color: transparent;
  z-index: 1000;
  color: black !important;
  cursor: pointer;
  transition: 0.2s;
}
.sidebar-custom .sidebar-toggle-btn.responsive-active {
  left: 220px;
  color: white !important;
}
.sidebar-custom .sidebar-toggle-btn :hover {
  color: gold !important;
  transition: 0.2s;
}
@media (min-width: 991.98px) {
  .sidebar-custom .sidebar-toggle-btn {
    visibility: hidden;
  }
}

@media (min-width: 991.98px) {
  .dashboard {
    padding-left: 280px;
  }
}
