@import "../_variables.scss";

.employee.selected .image-overlay {
    background: rgba(0, 128, 255, 0.5); /* Niebieski półprzezroczysty overlay */
    width: 100%;
    height: 100%;
}

/* Wyróżnienie wybranej usługi */
.service-select.selected {
    background: rgba(0, 128, 255, 0.1); /* Jasnoniebieskie tło */
    border-color: rgba(0, 128, 255, 0.5); /* Podkreślenie */
}

.employee.image-overlay {
    display: none; /* Domyślnie ukryty overlay */
}

.selected-employee .image-overlay {
    position: absolute; /* Overlay na zdjęcie */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(250, 176, 0, 0.33); /* Półprzezroczysty czarny overlay */
    border-radius: 50%; /* Dopasowanie do okrągłego zdjęcia */
    display: block; /* Pokazanie overlay */
    z-index: 10; /* Na wierzchu zdjęcia */
}
.horizontal-scrollable {
    overflow-x: inherit;
    white-space: nowrap;
    padding: 0;

    .hours {
        display: flex;
        justify-content: center;
        padding-block: 10px;

        .hour {
            white-space: nowrap;
            display: inline-block;
            float: none;
            padding: 10px;
            text-decoration: none;
            font-size: 1.1rem;
            width: 70px;
            text-align: center;
            line-height: 100%;
            color: rgba(0, 0, 0, 0.80);
            border: 1px solid lightgray;
            border-radius: 10px;
            margin: 4px;
            transition: 0.2s;
        }

        .hour:hover {
            cursor: pointer;
            background-color: $bg-primary-light;
            transition: 0.2s;
        }

        .hour:active {
            opacity: 0.8;
        }

        .occupied {
            background-color: lightgray;
            text-decoration: line-through;
            cursor: not-allowed !important;
            pointer-events: none;
        }
    }

    @media (max-width: 768px) {
        overflow-x: auto;

        .hours {
            display: block;
        }
    }
}