@model IEnumerable<Blog>

<div class="container"/>
	<div class="row">
	@foreach (var article in Model)
	{
		<div class="col-12 col-sm-6 col-md-4">
			<a asp-controller="Blog" asp-action="Article" asp-route-id="@article.Id">
				<img class="img-fluid" src="~/images/Blog/szampon-z-aminokwasami.webp" alt="Alternate Text" />
			</a>
			<div>
				<h4>@article.Title</h4>
				<span class="text-gray font-sm">@article.PublicationDate</span>
			</div>
		</div>
	}
	</div>
</div>

@section scripts {
	<script>

	</script>
}