@model IEnumerable<Blog>

<div class="container">
	<div class="d-flex flex-column p-2">
		@if (User.Identity.IsAuthenticated) {
			<div class="d-flex p-1">
				<a class="btn btn-primary" type="button" asp-controller="Blog" asp-action="Upsert" asp-route-id="0">Dodaj nowy artykuł</a>
			</div>
		}

		<div class="row">
			@foreach (var article in Model)
			{
				<div class="col-12 col-sm-6 col-md-4 mb-2">
					<div class="card">
						<a asp-controller="Blog" asp-action="Article" asp-route-id="@article.Id">
							@if (article.Images.Count >= 1 && article.Images != null)
							{
								<img class="card-img-top" src="@article.Images.First().ImageUrl" alt="Alternate Text" />
							}
							else
							{
								<img src="~/images/Blog/no-image.jpg" class="img-fluid rounded w-100" style="max-height: 200px;" />
							}

						</a>
						<div class="card-body">
							<h5>@article.Title</h5>
							<span class="text-gray font-sm">@article.PublicationDate</span>
						</div>
					</div>
				</div>

			}
		</div>
	</div>
</div>

@section scripts {
	<script>

	</script>
}