@model ServiceVM
@{
    ViewData["Title"] = "Dashboard";
}


<div class="border-0 mt-1 p-4">
    <div class="card-header bg-dark bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">EDYTUJ USŁUGĘ</h2>
            </div>
        </div>
    </div>
    <div class="p-4 bg-light shadow">
        <form method="post" class="row">
            <div class="p-3">
                @*<div asp-validation-summary="None"></div>*@
                <div class=" py-2 col-12">
                    <label asp-for="Name" class="ms-2">Nazwa usługi</label>
                    <input asp-for="Name" class="form-control border-1" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class=" py-2 col-12">
                    <label asp-for="Category" class="ms-2">Kategoria</label>
                    <input asp-for="Category" list="categories" class="form-control border-1"/>
                    <datalist id="categories">
                        <option value="Strzyżenie"></option>
                        <option value="Stylizacja"></option>
                        <option value="Pielęgnacja"></option>
                        <option value="Farbowanie"></option>
                        <option value="Pakiety"></option>
                    </datalist>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class=" py-2 col-12">
                    <label asp-for="Price" class="ms-2">Cena [zł]</label>
                    <input asp-for="Price" class="form-control border-1" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class=" py-2 col-12">
                    <label asp-for="DurationInMinutes" class="ms-2">Czas trwania [min]</label>
                    <input asp-for="DurationInMinutes" class="form-control border-1" />
                    <span asp-validation-for="DurationInMinutes" class="text-danger"></span>
                </div>
                <div class="py-2 col-12">
                    <label asp-for="Description" class="ms-2">Opis usługi</label>
                    <textarea asp-for="Description" class="form-control border-1 text-muted" style="max-height:100px;"></textarea>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Zatwierdź</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Service" asp-action="Index" asp-area="Admin" class="btn btn-outline-secondary border form-control">
                            Wstecz
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

