<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HairSaloonWeb</title>
    <link rel="stylesheet" href="~/HairSaloonWeb.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/sass/StyleSheet.min.css" />
	<link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
	<link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
	<script src="~/lib/jquery/dist/jquery.js"></script>


</head>
<body class="min-vh-100 d-flex flex-column">
    <header class="bg-white sticky-top shadow">
        <nav class="container-md navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom border-bottom-0">
            <div class="container-fluid">
                <a class="navbar-brand fs-2 font-labella" href="/"><span class="font-gold">La</span>Bella</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link fs-4" asp-area="Customer" asp-controller="Appointment" asp-action="Index">Rezerwacja</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-4" asp-controller="Blog" asp-action="Index">Blog</a>
                        </li>
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link fs-4" asp-area="Admin" asp-controller="Service" asp-action="Index">Panel</a>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial.cshtml"/>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="d-flex flex-column flex-1" style="padding-bottom:60px;">
        @RenderBody()
    </main>


    <footer class="border-top footer text-muted bg-light">
        <div class="container">
            &copy; 2024 - HairSaloonWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
